:root {
    --accent: rgb(190, 0, 0);
    --accent-hover: rgb(230, 0, 0);
    --accent-bg: rgb(255, 218, 218);
}

.image-card-container {
    /* border: 1px solid black;
    border-radius: 10px; */
    display: inline-block;
    overflow-wrap: break-word;
    width: calc(25% - 5px);
    margin-right: 5px;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.api-button {
    /* nothing for now... */
    margin: 5px;
}

.bar-button {
    line-height: 1.5rem;
    margin-left: 5px;
}

/* a "content" image */
.api-img {
    width: 100%;
    border: dashed 1px black;
    background: conic-gradient(white 90deg, #eee 90deg 180deg, white 180deg 270deg, #eee 270deg);
    background-repeat: repeat;
    background-size: 30px 30px;
    background-position: top-left;
}

/* loading/failed image */
img {
    width: 30%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    /* calc(min(10vw, 10vh)); */
    /* calc(min(10vw, 10vh)); */
}