<!DOCTYPE html>

<html>

<head>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="custom.css">

    <!-- Vue.js-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Pkmn Png</title>
    <base href="/pkmn-png/">
</head>

<body>
    <header>
        <h1>Pokemon Sprite Finder</h1>
    </header>
    <main id="app">
        <h4 class="center">
            Pokemon Name:&nbsp;
            <input id="name-input" v-model=name v-on:keyup.enter="loadImages" size="10"
                style="text-align: center; line-height: 1.5rem" />
            <button :onclick=loadImages :disabled=loading class="bar-button">go!</button>
            <button :onclick=randomize :disabled=loading class="bar-button">&#x2684;</button>
        </h4>
        <!-- <p class="center">
            Only show: <select v-model=generation>
                <option value=undefined>All</option>
                <option value="1">I (Red/Yellow/Blue)</option>
                <option value="2">II (Gold/Silver/Crystal)</option>
                <option value="3">III (Ruby/Sapphire/Emerald)</option>
                <option value="4">IV (Diamond/Pearl/Platinum)</option>
                <option value="5">V (Black/White)</option>
                <option value="6">VI (X/Y/Z)</option>
                <option value="7">VII (Sun/Moon)</option>
                <option value="8">VIII (Sword/Shield)</option>
            </select>
        </p> -->

        <div v-if="loading" class="center">
            <img src="img/loading.gif" />
        </div>
        <div v-else-if="loadingFailed" class="center">
            <p>Failed to load :(</p>
            <img src="img/failed.gif" />
            <p>(it was probably a typo, check your spelling)</p>
        </div>
        <p v-else>
            <span v-for="entry in Object.entries(images)">
                <image-card :heading=entry[0] :data=entry[1]></image-card>
            </span>
            <span style="text-align: center">There may be few or no sprites for the newest-generation pokemon,
                sorry.</span>
        </p>
    </main>

    <template id="image-card-template">
        <span v-for="game of Object.entries(data)">
            <span v-for="url of Object.entries(game[1])">
                <!-- <span class="image-card-container"> -->
                <single-asset :url=url[1]></single-asset>
            </span>
        </span>
    </template>

    <template id="single-asset-template">
        <div v-if="valid" class="image-card-container" class="image-extras">
            <!-- <img src="img/transparent-bg.png" class="api-img-bg" /> -->
            <img :title=details :src=url class="api-img" />
            <br>

            <a style="text-align: center; width: 100%" :href=crossStitchUrl>
                Generate Pattern
            </a>
            <br>

            <button :id=`copy-${url}` class="api-button" :onclick=copy>copy</button>
            <a download :href=url>
                <button class="api-button">save</button>
            </a>
        </div>
    </template>
    <script src="dist/datalist.js"></script>
    <script src="dist/form.js"></script>
</body>


</html>