<!DOCTYPE html>
<html>

<head>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="custom.css">

    <!-- Vue.js-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Html 2 Canvas (for exporting patterns) -->
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

    <title>Pattern Maker</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <base href="/cross-stitch-maker/">
</head>

<body>
    <header class="stitched">
        <h1>
            <img src="/favicon.png" class="stitch" />
            <img src="/favicon.png" class="stitch" />
            Pixel Pattern Maker
            <img src="/favicon.png" class="stitch" />
            <img src="/favicon.png" class="stitch" />
        </h1>
        <a href="https://puzzleweaver.github.io/">
            <button class="onstitched">by Emma!</button>
        </a>
    </header>

    <main id="vue-app">
        <p style="width: 100%; text-align: center; background-color: var(--accent-bg); border: 1px solid var(--accent); border-radius: 5px"
            class="stitched">
            <span style="margin: 10px; display: block">You're using the image:</span>
            <br>
            <img style=" image-rendering: pixelated; height: 20vh" :src="imgUrl" />
            <br>
            <a id="link-back" :href="`./select-image?img=${imgUrl}`">
                <button>&#x2190; Choose a different image</button>
            </a>
        </p>

        <div v-if="failed" style="width: 100%; display: flex; justify-content: center">
            <div class="warning">
                <p>
                    Image data failed to load.
                </p>
                <hr style="background-color: red">
                <p style="white-space: pre-line">
                    {{error}}
                </p>
            </div>
        </div>
        <div v-else>
            <div class="row" v-if="warning !== undefined">
                <p class="warning">
                    Warning: {{warning}}
                </p>
            </div>

            <details class="stitched" open>
                <aside class="center onstitched">
                    Page Preview

                    <div style="border: 1px dashed black">
                        <img v-if="valid" :src="resultURL"></img>

                        <div v-else class="loading-pattern-preview">
                            <spinner></spinner>
                        </div>
                    </div>
                </aside>

                <summary>Page Settings</summary>
                <p class="setting">
                    Page Orientation:

                    <select v-model="pageOrientation">
                        <option value="landscape">Landscape</option>
                        <option value="portrait">Portrait</option>
                    </select>
                </p>

                <p class="setting">
                    Font Size:
                    <select v-model="fontSize">
                        <option value="xsmall">Extra Small</option>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                </p>

                <p class="setting">
                    Symbol Style:
                    <select v-model="symbolStyle">
                        <option value="none">Off</option>
                        <option value="symbols">Symbols</option>
                        <option value="numbers">Numbers</option>
                    </select>
                </p>

                <p class="setting">
                    Include Preview:
                    <input v-model="showImagePreview" type="checkbox" />
                </p>

                <p class="setting">
                    Title: <input v-model="title" type="text" />
                </p>

                <p class="setting">
                    Show Lines:
                    <input v-model="showLines" type="checkbox" />
                </p>

                <p class="setting">
                    Use Less Ink:
                    <input v-model="saveInk" type="checkbox" />
                </p>
            </details>

            <!-- <details class="stitched" style="visibility: hidden">
                <summary>
                    Color Palette
                </summary>

                <div class="row">
                    <span class="column"
                        style="border-radius: 10px; margin: 10px; padding: 10px; background-color: white; text-align: center">
                        Original Image

                        <img id="original-image" style="width: 100%; height: auto" />
                    </span>

                    <span class="column"
                        style="border-radius: 10px; margin: 10px; padding: 10px; background-color: white; text-align: center">
                        Threads Preview

                        <img id="color-preview" style="width: 100%; height: auto" />

                        <div v-if="!valid" style="position: relative; top: -50%; height: 0px">
                            <spinner style="left: 50%"></spinner>
                        </div>
                    </span>
                </div>

                <p>
                    Current Color Palette:
                    <br>
                    <span v-for="color in colors">
                        <palette-color :color="color" :symbol-style="symbolStyle" :selected="selectedColor === color"
                            :onclick="setSelectedColor"></palette-color>
                    </span>
                </p>
                <p>
                    <selected-color-options :color="selectedColor"></selected-color-options>
                </p>
            </details> -->

            <p style="padding-top: 10px; width: 100%; text-align: center; background-color: var(--accent-bg); border: 1px solid var(--accent); border-radius: 5px"
                class="stitched">
                <span style="margin: 10px; display: block">
                    Pattern:&nbsp;
                    <a download="pattern.png" :href="resultURL">
                        <span>
                            <button :disabled="!valid">png <u>&#8595;</u></button>
                        </span>
                    </a>
                </span>
                <br>
                <span v-if="valid" style="position: relative">
                    <img :src="resultURL" class="main-preview"></img>
                </span>
                <span v-else class="main-preview">
                    <spinner></spinner>
                </span>
            </p>
        </div>

        <!-- HIDDEN actual pattern-->
        <div style="overflow: hidden; width: 0x; height: 0px">
            <div id="pattern" :class="`pattern-container-${pageOrientation}`">
                <span style="display: inline-block">
                    <canvas id="result-canvas"></canvas>
                </span>

                <div id="pattern-key" :class="`column pattern-key-${pageOrientation}`"
                    :style="`font-size: ${keyFontSize}`">
                    <div v-if="title.length !== 0">{{title}}</div>
                    <div class="row">
                        <div class="column">
                            <div>{{stitchesWide}}x{{stitchesTall}}</div>
                            <div>{{totalStitches}} st.</div>
                        </div>

                        <img id="color-preview-2" :style="`
                                width: ${pageOrientation === 'landscape' ? '33%' : '10%'};
                                height: ${pageOrientation === 'landscape' ? 'auto' : 'auto'};
                                float: right;
                                ${showImagePreview ? '' : 'display: none;'}
                            `" />
                    </div>
                    <hr>
                    <div>
                        <span v-for="color in colors">
                            <color-key :color="color" :symbol-style="symbolStyle" :save-ink="saveInk"></color-key>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- HIDDEN canvases for color comparisons -->
        <canvas id="original-image-canvas" style="display: none"></canvas>
        <canvas id="color-preview-canvas" style="display: none"></canvas>
    </main>

    <footer>
        If you're having any issues or have suggestions, feel free to contact me at
        <a href="mailto:emma.e.weaver1@gmail.com">
            emma.e.weaver1@gmail.com
        </a> :3
    </footer>

    <template id="palette-color-template">
        <span class="col" :style="`
            margin: 5px;
            max-width: 45%;
            background-color: white;
            border-radius: 10px;
            user-select: none;
            ${selected ? 'border: 3px solid var(--purple); margin: calc(5px-1.5px)' : ''}`" @click="toggle">
            <span class="col">
                <color-key :color="color" symbol-style="none" :save-ink="false"></color-key>
            </span>
        </span>
    </template>

    <template id="selected-color-options-template">
        <p v-if="color !== undefined" class="onstitched box" style="text-align: center">
            <palette-color :color="color" :onclick="() => {}" :selected="false"></palette-color>
            <br>

            <span>
                Used for these image colors:
                <span v-for="rawColor in rawColors">
                    <span
                        style="border-radius: 10px; padding: 5px; margin: 5px; background-color: white; display: inline-flex; max-width: 100%">
                        <color-tile :color="rawColor" :save-ink="false"></color-tile>
                    </span>
                </span>
            </span>
            <!-- <hr> -->
            <br>
            <span
                style="height: 3px; border-radius: 1.5px; margin: 10px; background-color: var(--purple); text-align: center; display: block"></span>

            <span>Use a different thread color?</span>
            <span v-for="suggestion in suggestions">
                <palette-color :color="suggestion" :selected="`${suggestion}` === `${color}`"
                    :onclick="(color) => {console.log(`wump: ${color}`)}"></palette-color>
                <!-- <span>
                    <color-tile :color="threadColor.raw" :save-ink="false"></color-tile>
                    {{threadColor.name}}
            </span> -->
            </span>
        </p>
        <p v-else class="onstitched box" style="text-align: center">
            Select a color above to see more options.
        </p>
        <!-- <span class="col" style="margin: 5px; max-width: 45%; background-color: white;
        border-radius: 10px; user-select: none">
            <span class="col">
                <color-key :color="color" symbol-style="none" :save-ink="false"></color-key>
            </span>
        </span> -->
    </template>

    <template id="color-key-template">
        <span class="color-key-container" style="flex-direction: column">
            <div class="row">
                <color-tile :color="threadColor" :overlay="overlay" :save-ink="saveInk"></color-tile>
                <span class="column">
                    <div style="font-size: 0.8em; line-height: 1em">{{description}}</div>
                    <div style="font-size: 0.5em; line-height: 1em">{{longDescription}}</div>
                </span>
            </div>
            <!-- <small>{{longDescription}}</small> -->
        </span>
    </template>

    <template id="color-tile-template">
        <span class="color-tile" :style="`
            ${
                saveInk ?
                `border: 1px solid ${color.toString()}` :
                `background-color: ${color.toString()}`
            };
            color: ${
                saveInk ?
                'black' :
                overlayColor
            };
            z-index: 2;
        `">
            {{overlay}}
        </span>
    </template>

    <template id="spinner-template">
        <div class="spinner-container">
            <div class="spinner"></div>
        </div>
    </template>

    <script type="module" src="./dist/oklab.js"></script>
    <script type="module" src="./dist/dmc.js"></script>
    <script type="module" src="./dist/image.js"></script>
    <script type="module" src="./dist/color.js"></script>
    <script type="module" src="./dist/pattern-renderer.js"></script>
    <script type="module" src="./dist/vue-app.js"></script>
    <script type="module" src="./dist/run.js"></script>
</body>

</html>