<!DOCTYPE html>
<html>

<head>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="custom.css">

    <!-- Vue.js-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Html 2 Canvas (for exporting patterns) -->
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>

    <title>Pattern Maker</title>
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <base href="/cross-stitch-maker/">
</head>

<body>
    <header>
        <h1>Pixel Pattern Maker</h1>
        <sub>by Emma with Love!</sub>
    </header>

    <main id="vue-app">
        <p style="width: 100%; text-align: center">
            <a id="link-back" :href="`./select-image?img=${imgUrl}`">
                <button>&#x2190; Select Different Image</button>
            </a>
        </p>

        <div v-if="failed" style="width: 100%; display: flex; justify-content: center">
            <div class="warning">
                <p>
                    Image data failed to load.
                </p>
                <hr style="background-color: red">
                <p style="white-space: pre-line">
                    {{error}}
                </p>
            </div>
        </div>
        <div v-else>
            <details>
                <summary>
                    Adjust Colors
                </summary>
                <div style="display: flex; flex-direction: row;">
                    <span
                        style="display: inline-flex; flex-direction: column; border-radius: 10px; margin: 10px; padding: 10px; background-color: white; text-align: center">
                        Original Image
                        <img id="original-image" style="width: 100%; height: auto" />
                    </span>
                    <span
                        style="display: inline-flex; flex-direction: column; border-radius: 10px; margin: 10px; padding: 10px; background-color: white; text-align: center">
                        Threads Preview
                        <img id="color-preview" style="width: 100%; height: auto" />
                        <div v-if="!valid" style="position: relative; top: -50%; height: 0px">
                            <spinner style="left: 50%"></spinner>
                        </div>
                    </span>
                </div>

                If the palette doesn't line up quite right, adjusting the image slightly can usually
                fix it.
                <p class="setting">
                    brightness:<input type="number" v-model="tweak1" min="-10" max="10" step=1>
                    redness: <input type="number" v-model="tweak2" min="-10" max="10" step=1>
                    blueness: <input type="number" v-model="tweak3" min="-10" max="10" step=1>
                    <button :onclick="resetTweaks" style="line-height: 1rem">reset</button>
                </p>
                <!-- <p>
                    <span v-for="color in colors">
                        <palette-color :color="color" :symbol-style="symbolStyle"></palette-color>
                    </span>
                </p> -->
            </details>

            <details>
                <aside class="center" style="background-color: white; border: none">
                    Page Preview
                    <div style="border: 1px dashed black">
                        <img v-if="valid" :src="resultURL"></img>
                        <div v-else class="loading-pattern-preview">
                            <spinner></spinner>
                        </div>
                    </div>
                </aside>
                <summary>Page Settings</summary>
                <p class="setting">
                    Page Orientation:
                    <select v-model="pageOrientation">
                        <option value="landscape">Landscape</option>
                        <option value="portrait">Portrait</option>
                    </select>
                </p>
                <p class="setting">
                    Show lines:
                    <input v-model="showLines" type="checkbox" />
                </p>
                <p class="setting">
                    Use Less Ink:
                    <input v-model="saveInk" type="checkbox" />
                </p>
                <p class="setting">
                    Symbol style:
                    <select v-model="symbolStyle">
                        <option value="none">Off</option>
                        <option value="symbols">Symbols</option>
                        <option value="numbers">Numbers</option>
                    </select>
                </p>
                </section>
            </details>

            <h4 style="text-align: center">
                Pattern:
                &nbsp;
                <a download="pattern.png" :href="resultURL">
                    <span>
                        <button :disabled="!valid">png <u>&#8595;</u></button>
                    </span>
                </a>
            </h4>

            <div style="text-align: center">
                <img v-if="valid" :src="resultURL" class="main-preview"></img>
                <div v-else class="main-preview">
                    <spinner></spinner>
                </div>
            </div>
        </div>

        <!-- HIDDEN actual pattern-->
        <div style="overflow: hidden; width: 0x; height: 0px">
            <div id="pattern" :class="`pattern-container-${pageOrientation}`">
                <span style="display: inline-block">
                    <canvas id="result-canvas"></canvas>
                </span>
                <div id="pattern-key" :class="`pattern-key-${pageOrientation}`">
                    <div>{{description}}</div>
                    <span v-for="color in colors">
                        <color-key :color="color" :symbol-style="symbolStyle" :save-ink="saveInk"></color-key>
                    </span>
                </div>
            </div>
        </div>

        <!-- HIDDEN canvases for color comparisons -->
        <canvas id="original-image-canvas" style="display: none"></canvas>
        <canvas id="color-preview-canvas" style="display: none"></canvas>
    </main>

    <footer>
        If you're having any issues or have suggestions, feel free to contact me at
        <a href="mailto:emma.e.weaver1@gmail.com">
            emma.e.weaver1@gmail.com
        </a> :3
    </footer>

    <template id="palette-color-template">
        <span style="display: inline-flex; flex-direction: column; margin: 5px; max-width: 45%; border: none; background-color: white;
            border-radius: 10px; padding: 5px; align-items: center; justify-content: center">
            <div :onclick="toggleExpanded" style="user-select: none; display: inline-flex; align-items: center">
                <color-tile :color="threadColor" overlay="" :save-ink="false"></color-tile>
                {{description}}
                &nbsp;
                {{expanded ? '&#x23F6;' : '&#x23F7'}}
            </div>
            <div v-if="expanded">
                <div style="border-top: 1px solid black; margin-top: 10px; padding-bottom: 10px">
                    {{longDescription}}
                </div>
                <div style="display: inline-flex; flex-direction: row; overflow: scroll">
                    <span style="padding-right: 10px">used&nbsp;for:</span>
                    <span v-for="color in rawColors">
                        <color-tile :color="color" :save-ink="false"></color-tile>
                    </span>
                </div>
            </div>
        </span>
    </template>

    <template id="color-key-template">
        <span class="color-key-container" style="flex-direction: column">
            <div>
                <color-tile :color="threadColor" :overlay="overlay" :save-ink="saveInk"></color-tile>
                {{description}}
            </div>
            <!-- <small>{{longDescription}}</small> -->
        </span>
    </template>

    <template id="color-tile-template">
        <span class="color-tile" :style="`
            background-color: ${color.toString()};
            color: ${overlayColor};
            z-index: 2;
        `">
            {{overlay}}
        </span>
    </template>

    <template id="spinner-template">
        <div class="spinner-container">
            <div class="spinner"></div>
        </div>
    </template>

    <script type="module" src="./dist/oklab.js"></script>
    <script type="module" src="./dist/dmc.js"></script>
    <script type="module" src="./dist/image.js"></script>
    <script type="module" src="./dist/color.js"></script>
    <script type="module" src="./dist/pattern-renderer.js"></script>
    <script type="module" src="./dist/vue-app.js"></script>
    <script type="module" src="./dist/run.js"></script>
</body>

</html>