:root {
  --background-color1: #ffeccf;
  --background-color2: #ffe9fb;
  --background-gradient: linear-gradient(to bottom, #ffeccf, #ffe9fb);
  --box-color: rgba(255, 255, 255, 0.5);
  --link-color: #006aff;
  --link-color-hovered: #00bfff;
  --link-color-visited: #a8149b;
  --link-color-hovered-visited: #ff1ceb;
}

nav > p {
  margin: 0px;
}

nav > h1 {
  margin: 0px;
}

@font-face {
  font-family: Nunito;
  src: url("/assets/fonts/nunito.ttf");
}
body {
  background: var(--background-color1);
  background-image: url("/assets/images/bg.webp"); /* fallback */
  background-image: url("/assets/images/bg.webp"), linear-gradient(to bottom, #ffeccf, #ffe9fb);
  background-size: 20%;
  background-attachment: fixed;
  image-rendering: pixelated;
  font-family: "Nunito", monospace;
  font-size: 1.1rem;
  /* font-family: "Comic Sans", monospace; */
  /* font-weight: 800; */
  /* font-style: normal; */
  margin-left: 5vw;
  margin-right: 5vh;
}

body > * {
  image-rendering: smooth;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:visited {
  color: var(--link-color-visited);
}

a:hover {
  color: var(--link-color-hovered);
}

a:hover:visited {
  color: var(--link-color-hovered-visited);
}

/* .ellipsis-overflow {
	white-space: nowrap;
	overflow: hidden;
	list-style-position: inside;
	text-overflow: ellipsis;
} */
.dimmed {
  /* color: rgba(0, 0, 0, 0.4); */
  opacity: 50%;
}

img {
  max-height: 15em;
  border: 3px solid black;
  border-radius: 5px;
}

.header-image {
  float: right;
  height: 10em;
  margin: 10px;
  margin-top: -10px;
  image-rendering: pixelated;
}

.expanded-image {
  height: 15em;
  image-rendering: pixelated;
}

.link {
  display: inline-flex;
  border: 3px solid var(--link-color);
  border-radius: 5px;
  gap: 0.5rem;
  margin: 0.25rem;
  padding: 5px;
  background-color: var(--box-color);
  justify-content: center;
  align-items: center;
}

a:hover > img {
  filter: brightness(130%);
}

.card {
  display: inline-block;
  border: 3px solid var(--link-color);
  border-radius: 5px;
  height: 6em;
}

.card > img {
  height: 6em;
  border: none;
  border-radius: 0px;
  baseline: text-center;
}

.big-card {
  display: inline-flex;
  flex-direction: column;
  border: 3px solid var(--link-color);
  border-radius: 5px;
}

.big-card > img {
  height: max(2em, min(20vw, 20vh));
  width: auto;
  border: none;
  border-radius: 0px;
  baseline: text-center;
}

.card:visited {
  border-color: var(--link-color-visited);
}

.card:hover {
  border-color: var(--link-color-hovered);
}

.card:hover:visited {
  border-color: var(--link-color-hovered-visited);
}

.icon {
  border: none;
  border-radius: 0px;
  image-rendering: pixelated;
  margin-bottom: -0.05em;
  width: 1em;
  height: 1em;
}

nav {
  background-color: var(--box-color);
  /* margin-top: 0px; */
  margin-bottom: 1em;
  padding: 1em;
  /* border: 3px solid black; */
  border-radius: 10px;
}

footer {
  background-color: var(--box-color);
  margin-top: 1em;
  padding: 1em;
  border-radius: 10px;
}

table {
  border: 5px solid var(--box-color);
}

th {
  background-color: var(--box-color);
  padding: 0.2em;
}

td {
  border: 2px solid var(--box-color);
  padding: 0.2em;
}

@media (min-height: 60vh) {
  body {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

/*# sourceMappingURL=styles.css.map */